.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 10rem;
    justify-content: space-between;
}

table, th, td {
  border: 1px solid;
}